/* General styles */
.container-fluid {
    background-color: #9666ce;
    padding: 50px 0;
}

h2 {
    font-size: 32px;
    color: #333;
}

h4 {
    font-size: 20px;
    color: #666;
}

/* Individual member styles */
.col-sm-4 {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.glyphicon-user {
    font-size: 60px;
    color: #337ab7;
}

h4 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

/* Animation */
.slideanim {
    animation: slide 1s ease-in-out both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
